{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block metadescription %}
{{ product.description|truncatewords:155 }}
{% endblock %}
{% block title %}
{{ product.name }} - Perfect Cushion Store
{% endblock %}
{% block content %}
<div class="row my_prod_row_class mt-4">
    <div class="mx-auto">
        <p><a href="{% url 'shop:all_product' %}">Home</a>|<a href="{{ product.get_url }}">{{product.name}}</a></p>
    </div>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                {% if product.file.url %}
                <div style="min-width: 18rem; margin-top: 2em;">
                    <model-viewer ar alt="モデル" src="{{ product.file.url }}" ios-src=""
                    style="width:400px;height:500px;text-align: center; display: block;margin-left: auto; margin-right: auto;"
                    background-color="#70BCD1" shadow-intensity="0.7" camera-controls interaction-prompt="auto"
                    auto-rotatearmagic-leap>
                    </model-viewer>
                </div>
                {% endif %}
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 d-flex justify-content-around">
                <div>
                    <h1 class="my_prod_title mt-3">{{product.name}}</h1><br>
                    <p>価格 : ¥{{product.price}} <span style="font-size: 12px;">(税込み)</span></p>
                    <p>在庫数 : {{product.stock}}個</p>
                    <p>ハッシュタグ :
                        {% for tag in product.tags.all %}
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#post{{ tag.name }}">
                            #{{ tag.name }}
                        </button>
                        {% endfor %}
                    </p>


                    <!-- modal -->
                    {% for tag in product.tags.all %}
                    {% with p=tag.name%}
                    <div class="portfolio-modal modal fade" id="post{{ tag.name }}" tabindex="-1" role="dialog"
                        aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <h1 class="modal-title" id="exampleModalLabel">#{{ tag.name }}</h1>
                                <div class="close-modal" data-bs-dismiss="modal">
                                    <img src="{% static 'img/close-icon.svg' %}" alt="Close modal" />
                                </div>
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8">
                                            <div class="modal-body">
                                                <!-- Project details-->
                                                <div class="container">
                                                    <h2 class="modal-title" id="exampleModalLabel">コーディネート</h2>
                                                    <div class="row mx-auto mt-5">
                                                        <!-- コーディネート -->
                                                        {% for product in products %}
                                                        {% for tag in product.tags.all %}
                                                        {% if tag.name == p %}
                                                        <div class="col-3 mx-auto">
                                                            <div class="portfolio-link" data-bs-toggle="modal">
                                                                <a data-bs-toggle="modal" href="#{{product.slug}}">
                                                                    <img class="card-img-top my_image"
                                                                        src="{{product.image.url}}"
                                                                        alt="{{product.name}}" width="50%" height="50%">
                                                                </a>
                                                                <div class="card-body">
                                                                    <h4>{{product.name}}</h4>
                                                                    <p>¥{{product.price}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endif %}
                                                        {% endfor %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="container">
                                                    <h2 class="modal-title" id="exampleModalLabel">アイテム</h2>
                                                    <div class="row mx-auto mt-5">
                                                        <!-- detail 商品 -->
                                                        {% for product in detail %}
                                                        {% for tag in product.tags.all %}
                                                        {% if tag.name == p %}
                                                        <div class="col-3 mx-auto">
                                                            <div class="portfolio-link" data-bs-toggle="modal">
                                                                <a data-bs-toggle="modal" href="#{{product.slug}}">
                                                                    <img class="card-img-top my_image"
                                                                        src="{{product.image.url}}"
                                                                        alt="{{product.name}}" width="50%" height="50%">
                                                                </a>
                                                                <div class="card-body">
                                                                    <h4>{{product.name}}</h4>
                                                                    <p>¥{{product.price}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endif %}
                                                        {% endfor %}
                                                        {% endfor %}
                                                    </div>
                                                </div>

                                                <button class="btn btn-info btn-xl text-uppercase"
                                                    data-bs-dismiss="modal" type="button">
                                                    <i class="fas fa-xmark me-1"></i>
                                                    Close Product
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endwith %}
                    {% endfor %}


                    <!-- バロメータ -->
                    {% if product.baroname1 %}
                    {{ product.baroname1 }} :
                    <hr style="height: 15px; width: {{ product.baroint1 }}px; ">
                    {% endif %}
                    {% if product.baroname2 %}
                    {{ product.baroname2 }} :
                    <hr style="height: 15px; width: {{ product.baroint2 }}px; ">
                    {% endif %}
                    {% if product.baroname3 %}
                    {{ product.baroname3 }} :
                    <hr style="height: 15px; width: {{ product.baroint3 }}px; ">
                    {% endif %}
                    <h4 class="my_title">商品の説明</h4>
                    <p class="text-justify my_prod_text">{{product.description}}</p>
                    {% if product.stock <= 0 %}
                    <p class="text-justify my_prod_text"><b>Out of Stock</b></p>
                    {% else %}
                    <a class="btn btn-secondary" href="{% url 'cart:add_cart' product.id %}">カートに入れる</a>
                    {% endif %}

                    {% for subtag in product.subtag.all %}
                    <form method="get" name="d">
                        <p class="mt-4">
                            <button type="button" class="btn btn-secondary btn-lg rounded-pill" data-bs-toggle="modal"
                                href="/#{{product.slug}}">Substitute</button>
                            <!-- <button type="submit" value="{{ subtag.name}}" name="d" data-bs-toggle="modal" href="#{{product.slug}}">Substitute</button> -->
                        </p>
                    </form>
                    {% endfor %}
                    <!-- modal -->

                    <div class="portfolio-modal modal fade" id="{{product.slug}}" tabindex="-1" role="dialog"
                        aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="close-modal" data-bs-dismiss="modal">
                                    <img src="" alt="Close modal" />
                                </div>
                                <div class="container">
                                    <h2 class="row">
                                        <div class="row">
                                            {% for detail in detail %}
                                            <div class="col-lg-3 col-md-4 col-sm-6 mx-auto">
                                                <div class="portfolio-item">
                                                    <div class="mx-auto" style="width: 200px;">
                                                        <div class="portfolio-link">
                                                            {% for subtag in detail.subtag.all %}

                                                            <!-- dにテンプレートからviewへのテンプレートを入れるためにしている -->
                                                            <a href="/{{ detail.slug }}/?d={{ subtag.name }}">
                                                                <img src="{{detail.image.url}}" alt="{{detail.name}}"
                                                                    width="200" height="320">
                                                            </a>
                                                            {% endfor %}
                                                        </div>
                                                        <div>

                                                            <h5>{{detail.name}}</h5>
                                                            <h4>¥{{detail.price | intcomma}}</h4>
                                                            <!-- バロメータ -->
                                                            {% if detail.baroname1 %}
                                                            <span style="font-size: 15px;">{{ detail.baroname1 }} :
                                                            </span>
                                                            <hr style="height: 15px; width: {{ detail.baroint1 }}px; ">
                                                            {% endif %}
                                                            {% if detail.baroname2 %}
                                                            <span style="font-size: 15px;">{{ detail.baroname2 }} :
                                                            </span>
                                                            <hr style="height: 15px; width: {{ detail.baroint2 }}px; ">
                                                            {% endif %}
                                                            {% if detail.baroname3 %}
                                                            <span style="font-size: 15px;">{{ detail.baroname3 }} :
                                                            </span>
                                                            <hr style="height: 15px; width: {{ detail.baroint3 }}px; ">
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
        </div>
    </div>
</div>
</div>


{% endblock  %}
